* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --aqua : aqua;
  --dark : #222;
  --white : #fff;
  --sm-white : #f8f7f7f9;
}

.btn a {
  display: inline-block;
  background: var(--white);
  color: var(--dark);
  padding: .8rem 1.5rem;
  border-radius: 5rem;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--white);
}

a {
  color: var(--white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background: var(--dark);
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
}

.navbar a {
  text-transform: capitalize;
}

.navbar a:hover {
  color: var(--aqua);
  transition: all .3s ease-in-out;
}

.navbar .btn {
  display: inline-block;
  background: var(--white);
  color: var(--dark);
  padding: .8rem 1.5rem;
  border-radius: 5rem;
}

.banner {
  padding: 1rem;
  background: var(--dark);
  color: var(--white);
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.banner span {
  font-weight: bold;
  color: var(--sm-white);
  margin-bottom: .7rem;
  font-size: 1.2rem;
  color: var(--aqua);
}

.banner .title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.banner .btn {
  margin-top: 2rem;
}










@media screen and (max-width: 980px) {
  .navbar a {
    display: none;
  }

  .navbar .btn {
    display: inline-block;
  }
}